    .img-container {
  min-height: 80vh;
  border: 0.5rem solid var(--mainBlue);
  border-radius: 0.5rem;
  position: relative;
     }

     .btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--mainBlue);
  color: var(--mainWhite) !important;
  transform: translate(-50%, -50%);
  border: 0.2rem solid var(--mainBlue);
  font-size: 1.4rem;
}
.btn-left:hover {
  border-color: var(--mainBlue);
  background: var(--mainWhite);
  color: var(--mainBlue) !important;
  font-size: 1.5rem;
}
.btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  background: var(--mainBlue);
  color: var(--mainWhite) !important;
  font-size: 1.4rem;
  transform: translate(50%, -50%);
  border: 0.2rem solid var(--mainBlue);
}
.btn-right:hover {
  border-color: var(--mainBlue);
  background: var(--mainWhite);
  color: var(--mainBlue) !important;
  font-size: 1.5rem;
}